<link
  rel="stylesheet"
  href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
/>
<div>
  <h1>Welcome ,<%=username%> Back to the site!</h1>
  <a href="/story/1">Story 1</a>
  <a href="/story/2">Story 2</a>
  <a href="/story/3">Story 3</a>
  <a href="/statements">download</a>
  <p><a href="/logout">Logout</a></p>
</div>
